.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll::-webkit-scrollbar {
  width: 2px; /* Adjust the width as needed */
}

.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(39, 39, 66, 0.719); /* Color of the scrollbar thumb */
  border-radius: 20px; /* Adjust the border radius */
}

/* Optional: Style scrollbar track */
.scroll::-webkit-scrollbar-track {
  background: #e5e7eb; /* Color of the scrollbar track */
}
